<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="title">{{titleForm | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productForm" (ngSubmit)="addProduct()">
                        <div class="mb-3">
                            <input type="text" formControlName="product" class="form-control form-control-lg" placeholder="Producto" >
                            <div class="text-danger" *ngIf="productForm.get('product')?.hasError('required') && productForm.get('product')?.touched">
                                <span>El nombre del Producto <strong> es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="category" class="form-control form-control-lg" placeholder="Categoria" >
                            <div class="text-danger" *ngIf="productForm.get('category')?.hasError('required') && productForm.get('category')?.touched">
                                <span>La categoria del Producto <strong> es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="ubication" class="form-control form-control-lg" placeholder="Ubicación" >
                            <div class="text-danger" *ngIf="productForm.get('ubication')?.hasError('required') && productForm.get('ubication')?.touched">
                                <span>La ubicación del Producto <strong> es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="price" class="form-control form-control-lg" placeholder="Precio" >
                            <div class="text-danger" *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched">
                                <span>El precio del Producto <strong> es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-center">Regresar</button>
                            <button type="submit" [disabled]="productForm.invalid" class="btn btn-success btn-lg float-center ms-5">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>